<div th:fragment="adminHeader">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal" th:text="${info}"></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <!--            HARD CODE -->
            <a class="p-2 text-dark" href="http://localhost:8080/registration">New user</a>
            <!--            <a class="p-2 text-dark" href="#">About</a>-->
        </nav>
        <!--        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-outline-primary" value="Sign Out"/>
        </form>
        <!--        <a class="btn btn-outline-primary" href="#">Sign out</a>-->
    </div>
</div>