<div th:fragment="footer">
    <div style="position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #f1f1f1;
        color: black;">

        <div align="center">
            <span>
            &copy; 2020
            </span>
            Mukhin Roman. Rights are not protected at all.
        </div>
    </div>
</div>