<div th:fragment="loginHeader">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal" th:text="${info}"></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/login">Sign in</a>
            <a class="p-2 text-dark" href="#">About</a>
            <a class="btn btn-outline-primary" href="/registration">Sign up</a>
        </nav>
    </div>
</div>