<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="tMangment"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!--HEADER-->
<header th:insert="include/loginHeader.html :: loginHeader"></header>

<!--BODY-->
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>tManagment</h1>
            <p class="lead text-muted">Hello. This is task managment.</p>
            <p>
                <a href="http://localhost:8080/admin" class="btn btn-primary my-2">admin page</a>
<!--                <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
            </p>
        </div>
    </section>

</main>

<!--FOOTER-->
<footer th:insert="include/footer.html :: footer"></footer>

</body>
</html>