<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="tMangment"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--    custom styles-->
<!--    <link href="style/signin.css" rel="stylesheet">-->
</head>
<!--HEADER-->
<header th:insert="include/loginHeader.html :: loginHeader"></header>
<!--BODY-->
<body class="text-center">
<div class="col-md-12 order-md-1 mt-5">
<!--    <form class="form-signin" action="@{/login}" method="post">-->
    <form th:action="@{/login}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">
            <div th:if="${param.error}">
                Invalid username and password.<br/><br/>
            </div>
            <div th:if="${param.logout}">
                You have been logged out.<br/><br/>
            </div>
            Please sign in
        </h1>
        <!--        login-->
        <label for="username" class="sr-only">Input login</label>
        <input type="text" id="username" class="form-control" placeholder="Input login" name="username" required
               autofocus=""><br/>
        <!--        password-->
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" name="password" required><br/>
        <!--        button-->
<!--        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
        <div><input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In"/></div>
    </form>
    Or <a href="/registration">register</a>
</div>
</body>

<!--FOOTER-->
<footer th:insert="include/footer.html :: footer"></footer>
</html>