<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="tMangment"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


<!--HEADER-->
<header th:insert="include/adminHeader.html :: adminHeader"></header>


<!--BODY-->
<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72"
             height="72">
        <div th:switch="${info}">
            <h2 th:case="passNotReqPass">The password and password confirmation do not match. The user was not
                registered</h2>
            <h2 th:case="*">Add new user</h2>
        </div>
        <!--        <h2 th:switch="namePage">Add new user</h2>-->
        <p class="lead">
            Fill in the fields: <br>

        </p>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" novalidate="" action="/admin/addUser" method="post">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="login">Login</label>
                        <input type="text" class="form-control" id="login" placeholder="" name="login" required>
                        <div class="invalid-feedback">
                            Valid login is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder=""
                               required>
                        <div class="invalid-feedback">
                            Valid password is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="reqPassword">Requared password</label>
                        <input type="password" class="form-control" id="reqPassword" name="reqPassword" placeholder=""
                               required>
                        <div class="invalid-feedback">
                            Valid password is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="fio">Name and surname <span class="text-muted"></span></label>
                        <input type="text" class="form-control" id="fio" name="fio" placeholder="Fill name and surname">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="signature">Signature <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="signature" name="signature"
                               placeholder="Fill your signature">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="department">Department</label>
                        <select class="custom-select d-block w-100" id="department" name="department" required>
                            <option value="">Choose...</option>
                            <option value="ADMINISTRATOR">Administrator</option>
                            <option value="DEVELOPER">Developer</option>
                            <option value="QA">QA</option>
                            <option value="CTO">CTO</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid department.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="userRole">Role</label>
                        <select class="custom-select d-block w-100" id="userRole" name="userRole" required>
                            <option value="">Choose...</option>
                            <option value="ADMINISTRATOR">Administrator</option>
                            <option value="LEAD">Lead</option>
                            <option value="USER">User</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid role.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Register new user</button>
            </form>
        </div>
    </div>
</div>

<!--FOOTER-->
<footer th:insert="include/footer.html :: footer"></footer>

</body>
</html>