<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="tMangment"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="include/adminHeader.html :: adminHeader"></header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Log actions</h1>
            <p class="lead text-muted">There'll log last actions.</p>
            <!--            <p>-->
            <!--                <a href="#" class="btn btn-primary my-2">Main call to action</a>-->
            <!--                <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
            <!--            </p>-->
        </div>
    </section>

    <!--FILTER by department and role -->
    <div class="container">
        <form action="admin" method="post">
            <div class="row">
                <div class="col-md-5 mb-3">
                    <select class="custom-select d-block w-100" id="department" name="department">
                        <option value="">All departments</option>
                        <option value="ADMINISTRATOR">Administrator</option>
                        <option value="DEVELOPER">Developer</option>
                        <option value="QA">QA</option>
                        <option value="CTO">CTO</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid department.
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <select class="custom-select d-block w-100" id="userRole" name="userRole">
                        <option value="">All roles</option>
                        <option value="ADMINISTRATOR">Administrator</option>
                        <option value="LEAD">Lead</option>
                        <option value="USER">User</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid department.
                    </div>
                </div>
                <button class="btn btn-info col-md-2 mb-3" type="submit">Filter</button>
            </div>
        </form>
    </div>

    <!--    SHOW USERS-->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4" th:each="user : ${users}">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="50"
                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                             focusable="false"
                             role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="10%" y="50%" fill="#eceeef" dy=".3em" th:text="${user.fio}">
                            </text>
                        </svg>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <!--UPD FOR LINK FOR ACTIONS !!!-->
                                    <a type="button" class="btn btn-sm btn-outline-secondary"
                                       th:href="'/admin/' + ${user.id}">
                                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                        Detail
                                    </a>
                                    <!--                                    <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>-->

                                </div>
                                <small class="text-muted" th:text="${user.role}"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer th:insert="include/footer.html :: footer"></footer>

</body>
</html>