<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="tMangment"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="include/adminHeader.html :: adminHeader"></header>

<div>
    <p th:text="${user.login}"/>
    <p th:text="${user.role}"/>
    <p th:text="${user.department}"/>
</div>

<footer th:insert="include/footer.html :: footer"></footer>

</body>
</html>